# This is a basic workflow to help you get started with Actions

name: CI-CD-Pipeline-To-AWS
env:
    S3_Bucket_name : "my-test-bucket-odessa"
    Application_Name: "MyFlask"
    Env: "Myflask-env"
    DeployPackageName: "flask_app_${{ github.sha }}.zip"
    AWS-Region-Name: "eu-central-1"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ dev ]
  #pull_request:
   # branches: [ dev ]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ci-part:
    runs-on: ubuntu-latest

# Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Git clone our repo
        uses: actions/checkout@v2   

      - name: Create Zip deployment package
        run: zip -r ${{ env.DeployPackageName}} ./ -x *.gitignore
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
       # run: |
        #  echo Add other actions to build,
         # echo test, and deploy your project.
